---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Exemplo Flourish">
	<h1 class="title">Flourish <span class="text-gradient">Studio</span></h1>
	<p class="subtitle">Exemplo de uso de um gráfico do Flourish.</p>

	<p>Gráfico de exemplo: expectativa de vida por renda:</p>
	<div
		class="flourish-embed flourish-scatter"
		data-src="visualisation/12149890"
	>
		<script src="https://public.flourish.studio/resources/embed.js"></script>
	</div>
</Layout>

<style type="text/css">
	.flourish-embed {
		max-width: 80%;
		margin: 2rem auto;
	}
</style>
