---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Exemplo Google Data">
	<h1 class="title">Google<span class="text-gradient">Data studio</span></h1>
	<p class="subtitle">Exemplo de uso do conteúdo go Google Data Studio.</p>

	<p>Exemplo: Pesquisadores em 2022</p>
	<iframe
		width="800"
		height="450"
		src="https://datastudio.google.com/embed/reporting/d8282c1a-92a2-417c-9bb5-eb5135fd9d67/page/O4FAD"
		style="border:0"
		allowfullscreen
	>
	</iframe>

	<div>
		<iframe
			width="800"
			height="450"
			src="https://datastudio.google.com/embed/reporting/57cbd7f9-666b-4567-ac16-9d4ac9b987f6/page/7gJAD"
			style="border:0"
			allowfullscreen
		>
		</iframe>
	</div>
</Layout>

<style type="text/css">
	.flourish-embed {
		max-width: 80%;
		margin: 2rem auto;
	}
</style>
