---
import Layout from "../layouts/Layout.astro"
import ass from "/imgs/ass.svg"
---

<Layout title="Minha página de exemplo">
	<div class="main-home">
		<img class="ass" src={ass} alt="logo SUA Unifesp" />
		<h1 class="title-main">
			Minha Página
			<span class="text-gradient">Mini Lab</span>
		</h1>
		<p class="subtitle center">
			Demonstrações de uso de alguns recursos também utilizados no site do <span
				class="text-gradient">SoU_Ciência</span
			>
		</p>
	</div>
</Layout>

<style type="text/css">
	.main-home {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	h1 {
		font-size: 2.6rem;
		font-weight: 800;
		margin: 0;
	}
	.title-main {
		text-align: center;
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid hsla(var(--c-pr-1), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: hsla(var(--c-pr-1), 12%);
		color: hsl(var(--c-pr-1));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: hsl(var(--c-pr-1));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}

	.ass {
		width: 100%;
		margin: 1rem auto;
	}
	.center {
		text-align: center;
	}
</style>
