---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Welcome to Astro.">
	<h1 class="title">Planilha do <span class="text-gradient">Google</span></h1>
	<p class="subtitle">Planilha do Google embutida na página.</p>

	<p>Exemplo: Planilha de pesquisadores em 2022</p>
	<iframe
		width="800"
		height="450"
		src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRcmGInGDi1mGgiMN3zBsF5NBylcSnOgFs1fzBBqn9YrMhzeWViVeK_Hx6P1FFxA3maAmYQ9GfdVCB8/pubhtml?widget=true&headers=false"
	></iframe>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}

	.flourish-embed {
		max-width: 80%;
		margin: 2rem auto;
	}
</style>
