---
import SectionCards from "../components/SectionCards.astro"

export interface Props {
	title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="home">
		<side class="aside">
			<SectionCards />
		</side>
		<main>
			<slot />
		</main>
	</body>
</html>
<style lang="scss" is:global>
	@import "../sass/main.scss";

	:root {
		--c-pr-1: 142, 46%, 24%;
		--c-bg-1: 0, 0%, 96%;
		--c-bg-2: 0, 0%, 98%;
		--c-fg-1: 0, 0%, 05%;
		--c-fg-2: 0, 0%, 00%;

		--c-pr-1-gradient: linear-gradient(
			45deg,
			hsl(var(--c-pr-1)),
			hsl(142, 18%, 75%) 30%,
			white 60%
		);
	}

	// @media (prefers-color-scheme: dark) {
	// 	:root {
	// 		--c-pr-1: 142, 46%, 64%;
	// 		--c-bg-1: 0, 0%, 16%;
	// 		--c-bg-2: 0, 0%, 26%;
	// 		--c-fg-1: 0, 0%, 96%;
	// 		--c-fg-2: 0, 0%, 100%;
	// 	}
	// }

	html {
		font-family: system-ui, sans-serif;
		background-color: hsl(var(--c-bg-1));
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}
	main {
		margin: auto;
		padding: 1.5rem;
		width: 100%;
		grid-area: content;
	}

	.home {
		display: grid;
		grid-template-columns: 20% 80%;
		grid-template-areas: "aside content";
		gap: 1rem;
	}

	.aside {
		grid-area: aside;
		width: 300px;
	}

	h1,
	h2,
	h3,
	h4 {
		color: hsl(var(--c-fg-2));
	}

	p,
	span {
		color: hsl(var(--c-fg-1));
	}

	.title {
		font-size: 2.4rem;
		font-weight: 800;
		margin-bottom: 0.7rem;
	}

	.subtitle {
		font-size: 1.5rem;
		margin-bottom: 2rem;
	}

	.text-gradient {
		background-image: var(--c-pr-1-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
